{% extends 'index/index.html' %}
{% block contenido %}
    Bienvenido al blog de Nicolas Agustin Alvarado
    <br>
    Hola mi nombre es Nicolas Agustin Alvarado tengo 27 años soy estudiante de la carrera de ingenieria en informatica actualmente estoy cursando el segundo año 
    <br>
    Empeze este curso con la espectativa de conocer el lenguaje de python y sus caracteristicas para poder implementarlo en el area de Seguridad informatica
    <br>
    donde actualmente me estoy capacitando para poder ejercerla
    <br>
    <br>
{% endblock contenido %}